<section class="faq-section container" id="faq">
  <h2 class="faq-title">01 FAQ's</h2>
  <div class="faq-wrap">
    <div class="faq-container-1">
      <p class="faq-title-p">01<span class="faq-title-span">FAQ's</span></p>
      <div class="faq-container-img">TTTTT</div>
    </div>
    <div class="faq-container">
      <ul class="faq-list accordion-container">
        <li class="faq-item ac">
          <h3 class="faq-item-title ac-header">
            How do I start playing Criminal Archives 2: Extra?<button
              type="button"
              class="btn-item ac-trigger"
            >
              <svg
                class="faq-icon"
                width="34"
                height="34"
                viewBox="0 0 42 42"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  x="0.5"
                  y="0.5"
                  width="41"
                  height="41"
                  rx="20.5"
                  stroke="#FAFAFA"
                  stroke-opacity="0.2"
                />
                <path
                  d="M26 18.5L21 23.5L16 18.5"
                  stroke="#FAFAFA"
                  stroke-width="3"
                />
              </svg>
            </button>
          </h3>

          <p class="faq-item-text ac-panel">
            Download the game from Google Play and start your detective journey
            by solving your first case.
          </p>
        </li>
        <li class="faq-item ac">
          <h3 class="faq-item-title ac-header">
            Is the game free to play?<button
              type="button"
              class="btn-item ac-trigger"
            >
              <svg
                class="faq-icon"
                width="34"
                height="34"
                viewBox="0 0 42 42"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  x="0.5"
                  y="0.5"
                  width="41"
                  height="41"
                  rx="20.5"
                  stroke="#FAFAFA"
                  stroke-opacity="0.2"
                />
                <path
                  d="M26 18.5L21 23.5L16 18.5"
                  stroke="#FAFAFA"
                  stroke-width="3"
                />
              </svg>
            </button>
          </h3>

          <p class="faq-item-text ac-panel">
            Yes, the game is free to download and play, with optional in-app
            purchases.
          </p>
        </li>
        <li class="faq-item ac">
          <h3 class="faq-item-title ac-header">
            Can I play the game offline?
            <button type="button" class="btn-item ac-trigger">
              <svg
                class="faq-icon"
                width="34"
                height="34"
                viewBox="0 0 42 42"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  x="0.5"
                  y="0.5"
                  width="41"
                  height="41"
                  rx="20.5"
                  stroke="#FAFAFA"
                  stroke-opacity="0.2"
                />
                <path
                  d="M26 18.5L21 23.5L16 18.5"
                  stroke="#FAFAFA"
                  stroke-width="3"
                />
              </svg>
            </button>
          </h3>

          <p class="faq-item-text ac-panel">
            Yes, you can enjoy the game offline without needing an internet
            connection.
          </p>
        </li>
        <li class="faq-item ac">
          <div class="faq-item-el">
            <h3 class="faq-item-title ac-header">
              How do I unlock new cases?
              <button type="button" class="btn-item ac-trigger">
                <svg
                  class="faq-icon"
                  width="34"
                  height="34"
                  viewBox="0 0 42 42"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect
                    x="0.5"
                    y="0.5"
                    width="41"
                    height="41"
                    rx="20.5"
                    stroke="#FAFAFA"
                    stroke-opacity="0.2"
                  />
                  <path
                    d="M26 18.5L21 23.5L16 18.5"
                    stroke="#FAFAFA"
                    stroke-width="3"
                  />
                </svg>
              </button>
            </h3>
          </div>
          <p class="faq-item-text ac-panel">
            New cases are unlocked as you progress and solve previous mysteries.
          </p>
        </li>
        <li class="faq-item ac">
          <h3 class="faq-item-title ac-header">
            Are there any hints available?
            <button type="button" class="btn-item ac-trigger">
              <svg
                class="faq-icon"
                width="34"
                height="34"
                viewBox="0 0 42 42"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  x="0.5"
                  y="0.5"
                  width="41"
                  height="41"
                  rx="20.5"
                  stroke="#FAFAFA"
                  stroke-opacity="0.2"
                />
                <path
                  d="M26 18.5L21 23.5L16 18.5"
                  stroke="#FAFAFA"
                  stroke-width="3"
                />
              </svg>
            </button>
          </h3>

          <p class="faq-item-text ac-panel">
            Yes, you can use hints to help you solve puzzles and uncover hidden
            clues.
          </p>
        </li>
        <li class="faq-item ac">
          <div class="faq-item-el">
            <h3 class="faq-item-title ac-header">
              How often is the game updated?
              <button type="button" class="btn-item ac-trigger">
                <svg
                  class="faq-icon"
                  width="34"
                  height="34"
                  viewBox="0 0 42 42"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect
                    x="0.5"
                    y="0.5"
                    width="41"
                    height="41"
                    rx="20.5"
                    stroke="#FAFAFA"
                    stroke-opacity="0.2"
                  />
                  <path
                    d="M26 18.5L21 23.5L16 18.5"
                    stroke="#FAFAFA"
                    stroke-width="3"
                  />
                </svg>
              </button>
            </h3>
          </div>
          <p class="faq-item-text ac-panel">
            The game regularly receives new levels and content to keep the
            experience fresh and exciting.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
