<section> 
  <div class="container">
        <div class="section_foto">
      <picture class="foto">
        <source
          srcset="../img/features/Mask group-0-x1-des.jpg 1x, ../img/features/Mask group-0-x2-des.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="../img/features/Mask group-0-x1-mob.jpg 1x,
          ../img/features/Mask group-0-x2-mob.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="../img/features/Mask group-0-x1-mob.jpg"
          alt="foto"
          width="364"
          height="258"
        />
      </picture>

       <picture class="foto">
        <source
          srcset="../img/features/Mask group-1-x1-des.jpg 1x,../img/features/Mask group-1-x2-des.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="../img/features/Mask group-1-x1-mob.jpg 1x,../img/features/Mask group-1-x2-mob.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="../img/features/Mask group-1-x1-mob.jpg"
          alt="foto"
          width="364"
          height="258"
        />
      </picture>

       <picture class="foto">
        <source
          srcset="../img/features/Mask group-2-x1-des.jpg 1x,../img/features/Mask group-2-x2-des.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="../img/features/Mask group-2-x1-mob.jpg 1x,../img/features/Mask group-2-x2-mob.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="../img/features/Mask group-2-x1-mob.jpg"
          alt="foto"
          width="364"
          height="258"
        />
      </picture>

       <picture class="foto">
        <source
          srcset="../img/features/Mask group-3-x1-des.jpg 1x,../img/features/Mask group-3-x2-des.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="../img/features/Mask group-3-x1-mob.jpg 1x,../img/features/Mask group-3-x2-mob.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="../img/features/Mask group-3-x1-mob.jpg"
          alt="foto"
          width="364"
          height="258"
        />
      </picture>

       <picture class="foto">
        <source
          srcset="../img/features/Mask group-4-x1-des.jpg 1x,../img/features/Mask group-4-x2-des.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="../img/features/Mask group-4-x1-mob.jpg,../img/features/Mask group-4-x2-mob.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="../img/features/Mask group-4-x1-mob.jpg"
          alt="foto"
          width="364"
          height="258"
        />
      </picture>
    </div>
  </div>
  </div>
</section>
