<section id="features">
  <div class="container contain-features">
    <h1 class="title-num">05<span class="title-span">Features</span></h1>
    <ul class="section_foto">
      <li>
        <picture class="foto">
          <source
            srcset="
              /img/features/group-0-x1-des.jpg 1x,
              /img/features/group-0-x2-des.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/features/group-0-x1-mob.jpg 1x,
              /img/features/group-0-x2-mob.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="img"
            src="/img/features/group-0-x1-mob.jpg"
            alt="foto"
            width="364"
            height="258"
          />
        </picture>
        <h2 class="title">Thrilling Storyline:</h2>
        <p class="text">
          Follow an intriguing narrative full of twists and turns as you uncover
          hidden truths.
        </p>
      </li>
      <li>
        <picture class="foto">
          <source
            srcset="
              /img/features/group-1-x1-des.jpg 1x,
              /img/features/group-1-x2-des.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/features/group-1-x1-mob.jpg 1x,
              /img/features/group-1-x2-mob.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="img"
            src="/img/features/group-1-x1-mob.jpg"
            alt="foto"
            width="364"
            height="258"
          />
        </picture>
        <h2 class="title">Immersive Crime Scenes:</h2>
        <p class="text">
          Explore meticulously designed crime scenes to find clues that lead you
          closer to the truth.
        </p>
      </li>
      <li>
        <picture class="foto">
          <source
            srcset="
              /img/features/group-2-x1-des.jpg 1x,
              /img/features/group-2-x2-des.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/features/group-2-x1-mob.jpg 1x,
              /img/features/group-2-x2-mob.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="img"
            src="/img/features/group-2-x1-mob.jpg"
            alt="foto"
            width="364"
            height="258"
          />
        </picture>
        <h2 class="title">Diverse Puzzles:</h2>
        <p class="text">
          Solve a variety of puzzles, from logic challenges to hidden object
          games, in every case.
        </p>
      </li>
      <li>
        <picture class="foto">
          <source
            srcset="
              /img/features/group-3-x1-des.jpg 1x,
              /img/features/group-3-x2-des.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/features/group-3-x1-mob.jpg 1x,
              /img/features/group-3-x2-mob.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="img"
            src="/img/features/group-3-x1-mob.jpg"
            alt="foto"
            width="364"
            height="258"
          />
        </picture>
        <h2 class="title">Unlock New Cases:</h2>
        <p class="text">
          New mysteries and cases are unlocked as you progress through the game,
          keeping the experience fresh.
        </p>
      </li>
      <li>
        <picture class="foto">
          <source
            srcset="
              /img/features/group-4-x1-des.jpg 1x,
              /img/features/group-4-x2-des.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/features/group-4-x1-mob.jpg 1x,
              /img/features/group-4-x2-mob.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="img"
            src="/img/features/group-4-x1-mob.jpg"
            alt="foto"
            width="364"
            height="258"
          />
        </picture>
        <h2 class="title">Hint System:</h2>
        <p class="text">
          Use hints when you get stuck to guide you towards the right clues and
          solutions.
        </p>
      </li>
    </ul>
  </div>
</section>
