<section> 
        <div class="section_foto">
      <picture class="foto">
        <source
          srcset="../img/features/Mask group-0-x1-des.jpg 1x, ../img/features/Mask group-0-x2-des.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="../img/features/Mask group-0-x1-mob.jpg 1x,
          ../img/features/Mask group-0-x2-mob.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="../img/features/Mask group-0-x1-mob.jpg"
          alt="foto"
          width="288"
          height="258"
        />
      </picture>

       <picture class="foto">
        <source
          srcset="../img/features/Mask group-0-x1-des.jpg 1x, ../img/features/Mask group-0-x2-des.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="../img/features/Mask group-0-x1-mob.jpg 1x,
          ../img/features/Mask group-0-x2-mob.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="../img/features/Mask group-0-x1-mob.jpg"
          alt="foto"
          width="288"
          height="258"
        />
      </picture>

       <picture class="foto">
        <source
          srcset="../img/features/Mask group-0-x1-des.jpg 1x, ../img/features/Mask group-0-x2-des.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="../img/features/Mask group-0-x1-mob.jpg 1x,
          ../img/features/Mask group-0-x2-mob.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="../img/features/Mask group-0-x1-mob.jpg"
          alt="foto"
          width="288"
          height="258"
        />
      </picture>

       <picture class="foto">
        <source
          srcset="../img/features/Mask group-0-x1-des.jpg 1x, ../img/features/Mask group-0-x2-des.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="../img/features/Mask group-0-x1-mob.jpg 1x,
          ../img/features/Mask group-0-x2-mob.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="../img/features/Mask group-0-x1-mob.jpg"
          alt="foto"
          width="288"
          height="258"
        />
      </picture>

       <picture class="foto">
        <source
          srcset="../img/features/Mask group-0-x1-des.jpg 1x, ../img/features/Mask group-0-x2-des.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="../img/features/Mask group-0-x1-mob.jpg 1x,
          ../img/features/Mask group-0-x2-mob.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="../img/features/Mask group-0-x1-mob.jpg"
          alt="foto"
          width="288"
          height="258"
        />
      </picture>
    </div>
  </div>
</section>
