<section class="footer">
  <div class="container cont-foot">
    <div class="footer-cont">
      <div class="text-div">
        <p class="text-footer"> ©2024&nbsp;</p>
        <p class="text-footer">startgreatadventure.com,&nbsp;</p>
        <p class="text-footer">All rights reserved</p>
      </div>
      <div class="footer-links">
        <a href="page-2.html" class="footer-a" target="_blank"
          >Privacy Policy &ensp;/</a
        >
        <a href="page-3.html" class="footer-a" target="_blank"
          >Terms and Conditions</a
        >
      </div>
    </div>
  </div>
</section>
