<section id="gallery">
  <div class="container gall-container">
    <h1 class="title-num">05<span class="title-span">Gallery</span></h1>
    <div>
      <div class="swiper swiper-gallery">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper wrap-proj">
          <!-- Slides -->
          <div class="swiper-slide slide-proj">
            <img src="/img/gallery/pic-1-x1.jpg" />
          </div>
          <div class="swiper-slide slide-proj">
            <img src="/img/gallery/pic-2-x1.jpg" />
          </div>
          <div class="swiper-slide slide-proj">
            <img src="/img/gallery/pic-3-x1.jpg" />
          </div>
          <div class="swiper-slide slide-proj">
            <img src="/img/gallery/pic-4-x1.jpg" />
          </div>
          <div class="swiper-slide slide-proj">
            <img src="/img/gallery/pic-5-x1.jpg" />
          </div>
          ...
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="btns-swiper">
          <div class="swiper-button-prev btn-proj-arr-l">
            <svg class="arrov-l-proj" width="44" height="44">
              <use href="/img/sprite.svg#icon-arrow-left"></use>
            </svg>
          </div>
          <div class="swiper-button-next btn-proj-arr-r">
            <svg class="arrov-r-proj" width="44" height="44">
              <use href="/img/sprite.svg#icon-arrow-right"></use>
            </svg>
          </div>
        </div>
        <div class=".swiper-pagination"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
      </div>
    </div>
  </div>
</section>
