<section id="gallery">
  <div class="container">
    <h1 class="title-gallery">05 Gallery</h1>
    <div class="swiper swiper-gallery">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper wrap-proj">
        <!-- Slides -->
        <div class="swiper-slide slide-proj">Slide 1</div>
        <div class="swiper-slide slide-proj">Slide 2</div>
        <div class="swiper-slide slide-proj">Slide 3</div>
        <div class="swiper-slide slide-proj">Slide 4</div>
        <div class="swiper-slide slide-proj">Slide 5</div>
        ...
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</section>
