<section class="section-game-des" id="game-description">
  <div class="container container-game-des">
    <h3 class="title-num game-title">
      03<span class="title-span game-span">Game Description</span>
    </h3>
    <p class="game-des-text">
      Criminal Archives 2: Extra is an immersive detective puzzle game where
      players dive into the world of crime investigations. Explore detailed
      crime scenes, solve complex puzzles, and uncover hidden clues to solve
      thrilling mysteries. With challenging levels, deep storylines, and
      intriguing cases, the game brings a true detective experience. Every
      investigation is a unique journey with new challenges that will test your
      analytical skills and detective instincts.
    </p>
    <div class="game-des-img">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            /img/game-description/game-img-01-des-1x.png 1x,
            /img/game-description/game-img-01-des-2x.png 2x
          "
        />
        <img
          src="/img/game-description/game-img-01-des-1x.png"
          alt="game"
          class="game-description"
        />
      </picture>
    </div>
  </div>
</section>
