<header class="header">
  <div class="section-header">
    <div class="header-logo-wrap">
      <a class="header-logo" href="./index.html"
        ><img
          src="../img/logo/logo-1x.png"
          alt="logo"
          class="logo-img"
          width="48"
          height="48"
      /></a>
      <p class="header-logo-text">Criminal Archives 2: Extra</p>
    </div>
    <button type="button" id="openModalBtn" class="mobile-btn">
      <svg class="header-icon-menu" width="33" height="33">
        <use href="/img/sprite.svg#icon-menu"></use>
      </svg>
    </button>
    <nav class="header-nav">
      <ul class="header-nav-ul">
        <li class="header-li">
          <a class="header-menu-link" href="#faq">FAQ</a>
        </li>
        <li class="header-li">
          <a class="header-menu-link" href="#how-to-play">How to Play</a>
        </li>
        <li class="header-li">
          <a
            class="header-menu-link"
            href="#game-description
        "
            >Game Description
          </a>
        </li>
        <li class="header-li">
          <a class="header-menu-link" href="#features">Features</a>
        </li>
        <li class="header-li">
          <a
            class="header-menu-link"
            href="#gallery
        "
            >Gallery</a
          >
        </li>
        <li class="header-li">
          <a class="header-menu-link" href="#home">Home </a>
        </li>
      </ul>
    </nav>
  </div>

  <div id="modal" class="modal">
    <div class="modal-content">
      <button type="button" id="closeModalBtn" class="closeBtn">
        <svg class="header-icon-menu" width="33" height="33">
          <use href="/img/sprite.svg#icon-x-1"></use>
        </svg>
      </button>
      <!-- <span class="closeBtn" id="closeModalBtn">&times;</span> -->
      <ul class="header-nav-ul">
        <li class="header-li">
          <a class="header-menu-link" href="#faq">FAQ</a>
        </li>
        <li class="header-li">
          <a class="header-menu-link" href="#how-to-play">How to Play</a>
        </li>
        <li class="header-li">
          <a
            class="header-menu-link"
            href="#game-description
        "
            >Game Description
          </a>
        </li>
        <li class="header-li">
          <a class="header-menu-link" href="#features">Features</a>
        </li>
        <li class="header-li">
          <a
            class="header-menu-link"
            href="#gallery
        "
            >Gallery</a
          >
        </li>
        <li class="header-li">
          <a
            class="header-menu-link"
            href="#home

        "
            >Home
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- <li class="nav-item">
    <a href="./page-2.html" class="nav-link">Page 2</a>
  </li>

  <li class="nav-item">
    <a href="./page-3.html" class="nav-link">Page 3</a>
  </li> -->
</header>
