<section class="section-how-to-play" id="how-to-play">
  <div class="container container-how-to-play">
    <h2 class="title-num">02 <span class="title-span">How to Play</span></h2>
    <div class="how-to-play-wrap">
      <ul class="how-to-play-ul">
        <li class="how-to-play-li">
          <svg
            class="how-to-play-icon"
            width="32"
            height="32"
            viewBox="0 0 32 32"
          >
            <use href="/img/sprite.svg#icon-Frame-50"></use>
          </svg>
          <div class="how-to-play-li-wrap">
            <h3 class="how-to-play-li-wrap-title">Investigate Crime Scenes:</h3>
            <p class="how-to-play-li-wrap-p">
              Examine each crime scene carefully for clues and evidence.
            </p>
          </div>
        </li>
        <li class="how-to-play-li">
          <svg class="how-to-play-icon" width="32" height="32">
            <use href="/img/sprite.svg#icon-Frame-55"></use>
          </svg>
          <div class="how-to-play-li-wrap">
            <h3 class="how-to-play-li-wrap-title">Solve Puzzles:</h3>
            <p class="how-to-play-li-wrap-p">
              Tackle puzzles and challenges that will lead you closer to solving
              the mystery.
            </p>
          </div>
        </li>
        <li class="how-to-play-li">
          <svg class="how-to-play-icon" width="32" height="32">
            <use href="/img/sprite.svg#icon-Frame-54"></use>
          </svg>
          <div class="how-to-play-li-wrap">
            <h3 class="how-to-play-li-wrap-title">Analyze Evidence:</h3>
            <p class="how-to-play-li-wrap-p">
              Use your analytical skills to connect the dots and uncover the
              truth behind each case.
            </p>
          </div>
        </li>
        <li class="how-to-play-li">
          <svg class="how-to-play-icon" width="32" height="32">
            <use href="/img/sprite.svg#icon-unlock"></use>
          </svg>
          <div class="how-to-play-li-wrap">
            <h3 class="how-to-play-li-wrap-title">Unlock New Cases:</h3>
            <p class="how-to-play-li-wrap-p">
              As you solve each case, unlock new mysteries to investigate.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
