.faq-section {
  width: 100%;
  padding: 40px 0 64px 0;
  background-image: url('/img/icons-background/icon-search_.png');
  background-repeat: no-repeat;
  background-size: 600px 600px;
  background-position: 120px -76px;
  animation: ani 1.5s forwards;
}

.faq-item-text {
  margin-top: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 1s ease, padding 1s ease, opacity 0.6s ease;
}

.faq-item.is-active .faq-item-text {
  margin-top: 24px;
  opacity: 1;
}

.faq-title {
  display: none;
}

.faq-container-img {
  display: none;
}

.faq-list .faq-item {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  margin-top: 0;
  border-bottom: 1px solid #daa520;
}

.faq-item-title {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #f5f5dc;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 20px 0;
  margin-bottom: 24px;
}

.faq-item {
  padding: 24px 0 12px 0;
}

button#ac-trigger-0.btn-item.ac-trigger,
button#ac-trigger-1.btn-item.ac-trigger,
button#ac-trigger-2.btn-item.ac-trigger,
button#ac-trigger-3.btn-item.ac-trigger,
button#ac-trigger-4.btn-item.ac-trigger,
button#ac-trigger-5.btn-item.ac-trigger {
  width: 44px;
  height: 44px;
  padding: 0;
  border-radius: 50%;
}

.is-active .faq-icon {
  transform: rotate(180deg);
}

.faq-section
  .faq-container
  .faq-list
  .faq-item
  .faq-item-title
  .ac-trigger::after {
  content: none;
}

svg.faq-icon {
  fill: #daa520;
}

.faq-item-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #f5f5dc;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .faq-section {
    padding: 64px 0 96px 0;
    background-image: url('/img/icons-background/icon-Circle_.png');
    background-position: -200px 440px;
    background-size: 774px 774px;
    background-repeat: no-repeat;
  }

  .faq-wrap {
    display: flex;
    flex-direction: row;
    gap: 119px;
  }

  .faq-container-1 {
    width: 267px;
  }

  .faq-container-img {
    display: flex;
    width: 234px;
    height: 481px;
  }

  .faq-container {
    width: 764px;
  }

  .faq-item {
    padding: 44px 0 12px 0;
    width: auto;
    border: none;
  }

  button#ac-trigger-0.btn-item.ac-trigger,
  button#ac-trigger-1.btn-item.ac-trigger,
  button#ac-trigger-2.btn-item.ac-trigger,
  button#ac-trigger-3.btn-item.ac-trigger,
  button#ac-trigger-4.btn-item.ac-trigger,
  button#ac-trigger-5.btn-item.ac-trigger {
    width: 32px;
    height: 32px;
  }

  svg.faq-icon {
    width: 32px;
    height: 32px;
  }
}
