.faq-section {
  width: 100%;
  padding: 40px 0 64px 0;
}

.faq-icon path {
  stroke: #2a4b4e;
}

.faq-title {
  display: none;
}

.faq-container-img {
  display: none;
}

.faq-list .faq-item {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  margin-top: 0;
  border-bottom: 1px solid #daa520;
}

.faq-item-title {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #f5f5dc;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 20px 0;
}

/* .faq-list .faq-item .faq-item-title {
  padding: 12px 0 32px 0;
} */

.faq-item {
  padding: 24px 0 12px 0;
}

button#ac-trigger-0.btn-item.ac-trigger,
button#ac-trigger-1.btn-item.ac-trigger,
button#ac-trigger-2.btn-item.ac-trigger,
button#ac-trigger-3.btn-item.ac-trigger,
button#ac-trigger-4.btn-item.ac-trigger,
button#ac-trigger-5.btn-item.ac-trigger {
  width: 34px;
  height: 34px;
  padding: 0;
  background-color: #daa520;
  border-radius: 50%;
}

.is-active .faq-icon {
  transform: rotate(180deg);
}

.faq-section
  .faq-container
  .faq-list
  .faq-item
  .faq-item-title
  .ac-trigger::after {
  content: none;
}

svg.faq-icon {
  flex-shrink: 0;
  display: block;
}

.faq-item-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #f5f5dc;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .faq-section {
    padding: 64px 0 96px 0;
  }

  .faq-wrap {
    display: flex;
    flex-direction: row;
    gap: 119px;
  }

  .faq-container-1 {
    width: 267px;
  }

  .faq-container-img {
    display: flex;
    width: 234px;
    height: 481px;
  }

  .faq-container {
    width: 764px;
  }

  .faq-item {
    padding: 44px 0 12px 0;
    width: auto;
    border: none;
  }
}
