.section_foto {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  animation: ani 1.5s forwards;
}
.contain-features {
  padding-bottom: 64px;
}

.foto {
  display: block;
  width: 288px;
  height: 258px;
}
.img {
  border-radius: 20px;
}

.title {
  color: #f5f5dc;
  padding-top: 32px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
}
.text {
  color: #f5f5dc;
  padding-top: 24px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  width: 288px;
}

@media screen and (min-width: 1200px) {
  .contain-features {
    padding-top: 96px;
    padding-bottom: 0;
    background-image: url('/img/icons-background/icon-search_.png');
    background-position: -80px -80px;
    background-size: 450px 450px;
    background-repeat: no-repeat;
  }
  .section_foto {
    width: 1200px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    margin-left: -32px;
  }
  .foto {
    width: 364px;
  }
  .text {
    width: 364px;
  }
}
