.section_foto {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.foto {
  display: block;
  width: 288px;
  height: 258px;
}
.img {
  border-radius: 20px;
}

.title {
  color: #f5f5dc;
  padding-top: 32px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
}
.text {
  color: #f5f5dc;
  padding-top: 24px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}
@media screen and (min-width: 1200px) {
  .section_foto {
    width: 1200px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .foto {
    width: 364px;
  }
  li {
    width: 364px;
  }
}
