.footer {
  background-color: #8b2d2d;
  padding: 16px 32px 16px 32px;
  margin: 0 auto;
  font-size: 20px;
  /* justify-content: center;
  align-items: center; */
}
/* .cont-foot {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
} */
.footer-cont {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.footer-a {
  display: inline-flex;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.text-footer {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .text-div {
    display: flex;
  }
  .footer-cont {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .footer-links {
    flex-direction: row;
    gap: 6px;
  }
}
