.section-game-des {
  width: 100%;
  padding: 64px 0;
  background-image: url('/img/icons-background/arrow-left90big.png');
  background-repeat: no-repeat;
  background-size: 408px 408px;
  background-position: 40px -40px;
}

.game-des-text {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #f5f5dc;
}

.game-des-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section-game-des {
    padding-bottom: 0;
    padding-top: 96px;
    background-image: url('/img/icons-background/arrow-left big.png');
    background-position: 900px -40px;
    background-size: 450px 450px;
    background-repeat: no-repeat;
  }
  .container-game-des {
    width: 1140px;
  }

  .game-des-text {
    padding: 0 97px;
  }

  .game-des-img {
    display: flex;
    justify-content: center;
  }
}
