.home-container {
  padding-bottom: 64px;
}
.cont-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-home {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  width: 288px;
  height: 288px;
  margin-top: 0;
  margin-bottom: 64px;
}
.btn-home {
  width: px;
  height: 90px;
  background-color: #8b2d2d;
  border: none;
  border-radius: 10px;
  padding: 0;
}
.btn-home:disabled {
  /* background-image: url('../img/home/Badge (1).png'); */
  background-color: #d9d9d9;
  cursor: not-allowed;
}
.btn-home:disabled:hover {
  background-color: #d9d9d9;
}
.btn-home:hover {
  background-color: #812a2a;
}
.btn-home:focus {
  background-color: #511a1a;
}
.btn-home-img {
  width: 288px;
  height: 90px;
}

@media screen and (min-width: 1200px) {
  .home-container {
    padding-bottom: 96px;
  }
}
