.home-container {
  padding-bottom: 64px;
}
.cont-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-home {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  width: 288px;
  height: 288px;
  margin-top: 32px;
  margin-bottom: 64px;
}
.btn-home {
  width: px;
  height: 90px;
  background-color: #8b2d2d;
  border: none;
  border-radius: 10px;
  padding: 0;
}
.btn-home-img {
  width: 288px;
  height: 90px;
}

@media screen and (min-width: 1200px) {
  .home-container {
    padding-bottom: 96px;
  }
}
