.section-how-to-play {
  background-color: #8b2d2d;
  width: 100%;
  padding: 32px 0 64px 0;
}

.how-to-play-li {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.how-to-play-li-wrap {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}

svg.how-to-play-icon {
  fill: #daa520;
}

.how-to-play-li-wrap-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-bottom: 24px;
  color: #f5f5dc;
}

.how-to-play-li-wrap-p {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #f5f5dc;
}

@media screen and (min-width: 1200px) {
  .how-to-play-ul {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px 24px;
  }

  .how-to-play-li {
    width: 558px;
  }

  .how-to-play-li-wrap {
    padding-bottom: 0;
    width: 486px;
  }
}
