.btn-policy {
  background-color: transparent;
  outline: none;
  border: none;
}

.back {
  display: flex;
  gap: 10px;
  align-items: center;
}

svg.header-icon-policy {
  stroke: #daa520;
  align-items: center;
}
use {
  fill: transparent;
}

.container-policy {
  padding: 40px 0 0 0;
}

/* .policy-wrap {
  margin-bottom: 40px;
} */

.policy-title {
  color: #f5f5dc;
  padding-left: 0;
  padding-bottom: 32px;
  /* padding-top: 40px; */
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.title-marg {
  padding-top: 0;
}

.policy-text,
.policy-ul {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-bottom: 40px;
}

.policy-ul {
  list-style: disc;
  padding-bottom: 24px;
  padding-left: 20px;
}

.policy-ul li:last-child {
  margin-bottom: 0;
}

.policy-ul-last {
  padding-bottom: 0;
}

.policy-text-padding {
  padding-bottom: 24px;
}

.policy-wrap-margin {
  margin-bottom: 0;
}

.policy-link {
  text-decoration: underline;
  color: #daa520;
}

@media screen and (min-width: 1200px) {
  .container-policy {
    padding: 64px 0 96px 0;
  }

  .policy-wrap {
    margin-bottom: 64px;
  }

  .policy-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    padding-bottom: 44px;
    text-align: center;
  }

  .policy-text {
    padding-left: 97px;
    padding-right: 97px;
  }

  .policy-ul {
    padding-left: 116px;
  }

  .policy-wrap-margin {
    margin-bottom: 0;
  }
}

.pol-back-1 {
  padding-left: 16px;
  padding-right: 16px;
  background-image: url('../img/icons-background/icon _search_.png');
  background-repeat: no-repeat;
  background-size: 600px 600px;
  background-position: -40px 100px;
}
.pol-back-2 {
  padding-left: 16px;
  padding-right: 16px;
  background-image: url('../img/icons-background/icon _puzzle_.png');
  background-repeat: no-repeat;
  background-size: 600px 600px;
  background-position: -300px 60px;
}

.pol-back-3 {
  padding-left: 16px;
  padding-right: 16px;
  background-image: url('../img/icons-background/arrow-down.png');
  background-repeat: no-repeat;
  background-size: 408px 408px;
  background-position: 20px 630px;
  margin-bottom: 40px;
}

.pol-back-4 {
  padding-left: 16px;
  padding-right: 16px;
  background-image: url('../img/icons-background/search-big-top.png');
  background-repeat: no-repeat;
  background-size: 408px 408px;
  background-position: 20px 630px;
}

.pol-back-5 {
  padding-left: 16px;
  padding-right: 16px;
  background-image: url('../img/icons-background/icon _puzzle_.png');
  background-repeat: no-repeat;
  background-size: 480px 480px;
  background-position: 20px 850px;
}

.pol-back-6 {
  padding-left: 16px;
  padding-right: 16px;
  background-image: url('../img/icons-background/search-big-down.png');
  background-repeat: no-repeat;
  background-size: 580px 580px;
  background-position: -160px 870px;
  padding-bottom: 88px;
}
