.header-policy {
  display: flex;
  align-items: center;
}

.back {
  display: flex;
  gap: 10px;
  align-items: center;
}

.btn-policy {
  width: 32px;
  height: 32px;
  background-color: transparent;
  outline: none;
  border: none;
  justify-content: center;
}

a.policy-link-btn {
  width: 32px;
  height: 32px;
}

a.policy-link {
  text-decoration: none;
  color: #f5f5dc;
}

.policy-link:hover {
  color: #d1ce99;
}

.policy-link:active {
  color: #daa520;
}

svg.header-icon-policy {
  stroke: #daa520;
  align-items: center;
}
.header-icon-policy use {
  fill: transparent;
}

.container-policy {
  padding: 40px 0 0 0;
}

.policy-title {
  color: #f5f5dc;
  padding-left: 0;
  padding-bottom: 32px;
  /* padding-top: 40px; */
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.title-marg {
  padding-top: 0;
}

.policy-text,
.policy-ul {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-bottom: 40px;
}

.policy-ul {
  list-style: disc;
  padding-bottom: 24px;
  padding-left: 20px;
}

.policy-ul li:last-child {
  margin-bottom: 0;
}

.policy-ul-last {
  padding-bottom: 0;
}

.policy-text-padding {
  padding-bottom: 24px;
}

.policy-wrap-margin {
  margin-bottom: 0;
}

.policy-link-google {
  text-decoration: underline;
  color: #daa520;
}
.policy-link-google:hover {
  color: #d1ce99;
}

@media screen and (min-width: 1200px) {
  .container-policy {
    padding: 64px 0 0 0;
  }

  .policy-wrap {
    margin-bottom: 64px;
  }

  .policy-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    padding-bottom: 44px;
    text-align: center;
  }

  /* .policy-text {
    padding-left: 97px;
    padding-right: 97px;
  } */

  .policy-ul {
    padding-left: 116px;
  }

  .policy-wrap-margin {
    margin-bottom: 0;
  }
}

.pol-back-1 {
  padding-left: 16px;
  padding-right: 16px;
  background-image: url('/img/icons-background/icon-search_.png');
  background-repeat: no-repeat;
  background-size: 600px 600px;
  background-position: -40px 100px;
}
.pol-back-2 {
  padding-left: 16px;
  padding-right: 16px;
  background-image: url('/img/icons-background/icon-puzzle_.png');
  background-repeat: no-repeat;
  background-size: 600px 600px;
  background-position: -300px 60px;
}

.pol-back-3 {
  padding-left: 16px;
  padding-right: 16px;
  background-image: url('/img/icons-background/arrow-down.png');
  background-repeat: no-repeat;
  background-size: 408px 408px;
  background-position: 20px 580px;
  margin-bottom: 40px;
}

.pol-back-4 {
  padding-left: 16px;
  padding-right: 16px;
  background-image: url('/img/icons-background/search-big-top.png');
  background-repeat: no-repeat;
  background-size: 550px 550px;
  background-position: -200px 130px;
}

.pol-back-5 {
  padding-left: 16px;
  padding-right: 16px;
  background-image: url('/img/icons-background/puzzle-rotate-big.png');
  background-repeat: no-repeat;
  background-size: 480px 480px;
  background-position: 20px 850px;
}

.pol-back-6 {
  padding-left: 16px;
  padding-right: 16px;
  background-image: url('/img/icons-background/icon-search_.png');
  background-repeat: no-repeat;
  background-size: 580px 580px;
  background-position: -160px 870px;
  padding-bottom: 88px;
}

@media screen and (min-width: 1200px) {
  .pol-back-1 {
    padding-left: 96px;
    padding-right: 96px;
    background-image: url('/img/icons-background/search-big-down.png');
    background-repeat: no-repeat;
    background-size: 600px 600px;
    background-position: -100px -70px;
  }
  .pol-back-2 {
    padding-left: 96px;
    padding-right: 96px;
    background-image: none;
  }

  .pol-back-3 {
    padding-left: 96px;
    padding-right: 96px;
    background-image: url('/img/icons-background/arrow-left big.png');
    background-repeat: no-repeat;
    background-size: 480px 480px;
    background-position: 860px 270px;
    margin-bottom: 40px;
  }

  .pol-back-4 {
    padding-left: 96px;
    padding-right: 96px;
    background-image: none;
  }

  .pol-back-5 {
    padding-left: 96px;
    padding-right: 96px;
    background-image: url('/img/icons-background/icon-puzzle_.png');
    background-repeat: no-repeat;
    background-size: 600px 600px;
    background-position: -140px 200px;
  }

  .pol-back-6 {
    padding-left: 96px;
    padding-right: 96px;
    background-image: url('/img/icons-background/arrow-left90big.png');
    background-repeat: no-repeat;
    background-size: 480px 480px;
    background-position: 780px 630px;
    padding-bottom: 96px;
  }
}
