/* Reset styles */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #2a4b4e;
  max-width: 1200px;
  margin: 0 auto;
  background-image: url('../img/icons-background/icon _search_.png'),
    url('../img/icons-background/arrow-left90big.png'),
    url('../img/icons-background/icon _puzzle_.png');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 580px 580px, 418px 418px, 560px 560px;
  background-position: 124px 10vh, 62px 2220px, -65px 6400px;
  /* background-attachment: fixed; */
  background-attachment: scroll;
}

/* body::before {
  content: '';
  position: absolute;
  top: 2000px;
  left: 50px;
  width: 408px;
  height: 408px;
  background-image: url('../img/icons-background/arrow-left big.png');
  background-size: 408px 408px;
  background-repeat: no-repeat;
  transform: rotate(90deg);
*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body h3,
h2,
p {
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-block-start: 0;
}
a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title-num {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #daa520;
  padding-bottom: 32px;
}
.title-span {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #daa520;
  padding-left: 16px;
}

@media screen and (min-width: 320px) {
  .container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    /* margin: 0 auto; */
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1264px;
    padding-left: 32px;
    padding-right: 32px;
    /* margin: 0; */
  }
  .title-num {
    font-size: 92px;
    font-weight: 700;
    line-height: 100px;
    padding-bottom: 56px;
  }
  .title-span {
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
  }
}
