@import url('./reset.css');
@import url('./faqs.css');
@import url('./features.css');
@import url('./gallery.css');
@import url('./game-description.css');
@import url('./header.css');
/* @import url('./home.css'); */
@import url('./home-first.css');
@import url('./mob-menu.css');
@import url('./how-to-play.css');
@import url('./footer.css');
@import url('./page2.css');
@import url('./page3.css');

:root {
  font-family: 'Instrument Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #f5f5dc;
  background-color: #5d4a3f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
